#h1 {
  font-size:20px;
  background: linear-gradient(transparent 60%, #FAE438 60%);
}

#RealDayClock {
  /* float: right; */
  background-color: white;
}

#RealtimeClockArea {
  /* float: right; */
}

#button {
width: auto;
padding:0;
margin:0;
background:none;
border:0;
font-size:0;
line-height:0;
overflow:visible;
cursor:pointer;
}

#news {
  position: absolute;
  font-size:20px;
  top: 200px;
  left: 500px;

}

#title {
  position: absolute;
  font-size:20px;
  top: 200px;
  left: 500px;

}

#memo {
border-style: none;
outline: none;
}

#neko {
border-style: none;
outline: none;
}

#tenki {
border-style: none;
outline: none; 
}


.frontitem2 {
position: relative;
width: 300px;
left: 250px;
}

.backneko {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* -webkit-app-region: drag; */
  /* -webkit-app-region: no-drag; */
  position: absolute;
  top: 30px;
  right: 180px
}

#RealtimeClockArea {
font-weight:bold;
font-size:300%;
color:#606;
background-color: white;

position: absolute;
top: 180px;
left: 70px;
}

.frontitem1 {
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

position: absolute;
top: 150px;
left: 350px;

}


.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}